body {
background: #006400;
font-family: tw cen mt;
font-size: 18px;
color: white;
}

label {
  font-size: 10pt;
  color: #555;
}
 
textarea {
  padding: 1px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 1px 
}